img {
    max-width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}
