.heading {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(45deg, rgba(255, 69, 0), rgba(255, 0, 0, 0.8));
  color: white;
  position: relative;
  overflow: hidden; 
  animation: fire 0.5s infinite alternate;
}

.fire-svg {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(2px);
}